.aboutPage {
    display: flex;
    justify-self: center;
    align-items: center;
    flex-direction: column;
}

.img-half {
    background-image: url("../images/pattern.jpg");
    height: 50vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: #3690bc;
}

#about-heading,
#quote-heading {
    font-size: 2.4rem;
    text-transform: uppercase;
    background-image: linear-gradient(-200deg, #cd1e2d 0%,
            #000000db 50%, #000 67%,
            #000000db 100%);

    background-size: auto, auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: about-clip 4s linear infinite;
    display: inline-block;
}

@keyframes about-clip {
    to {
        background-position: 200% center;
    }
}

.first-half {
    margin-top: 3rem;
    width: 100%;
    line-height: 2;
    letter-spacing: .3px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.first-half h2 {
    font-weight: 700;
}

.first-half p span {
    font-weight: 700;
}

.second-half {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 9rem;
    padding-bottom: 5rem;
    border-bottom: 1px solid black;
}

.second-half-left {
    width: 40%;
    position: relative;
    display: flex;
    justify-content: flex-start;
}

.border-image {
    height: 400px;
    border-radius: 10px;
    position: relative;
}

.border-image img {
    width: 100%;
    height: 400px;
    position: absolute;
    border-radius: 10px;
    top: 30px;
    right: -30px;
    border: .2px solid black;
}

.second-half-right {
    width: 40%;
    line-height: 2;
}

.second-half-right h2 {
    font-weight: 700;
}

.second-half-right ul li span {
    font-weight: 700;
}

.second-half-right ul li {
    list-style-type: disc;
}

.third-half {
    margin: 2rem 0 0;
    padding-bottom: 12rem;
}

.third-half h2 {
    font-weight: 700;
}

@media(max-width: 576px) {
    .second-half {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
    }

    .second-half-left,
    .second-half-right {
        width: 80%;
    }

    .second-half-right {
        padding-top: 2.5rem;
    }

    .second-half-right h2 {
        text-align: center;
    }
}

@media(max-width: 768px) {
    .second-half {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
    }

    .second-half-left,
    .second-half-right {
        width: 80%;
    }

    .border-image img {
        position: relative;
        top: 0;
        right: 0;
    }

    .second-half-right {
        padding-top: 2.5rem;
    }

    .second-half-right h2 {
        text-align: center;
    }
}

@media(max-width: 992px) {
    .second-half {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        gap: 2rem;
    }

    .second-half-left,
    .second-half-right {
        width: 80%;
    }

    #border-image {
        height: 420px;
    }

    .border-image img {
        border: none;
        position: relative;
        top: 0;
        right: 0;
    }

    .second-half-right {
        padding-top: 2.5rem;
    }

    .second-half-right h2 {
        text-align: center;
    }
}