.project-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.gallery-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.gallery img {
    width: 350px;
    height: 300px;
    filter: grayscale(100%)
}

.imageContent {
    opacity: 0;
    text-align: center;
    border: 1px solid black;
    transform: rotate3d(0, 1, 0, 180deg);
    line-height: 2;
    padding: .5rem 0;
}

.imageContent h3 {
    color: #cd1e2d
}

.grid-gallery:hover img {
    filter: grayscale(0%)
}

.grid-gallery:hover .imageContent {
    opacity: 1;
    transition: all 0.3s ease-in-out;
    transform: rotate3d(0, 0, 0, 0deg);

}



@media(max-width: 992px) {
    .gallery {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}