.review-box {
    display: flex;
    flex-direction: column;

}

.review-container {
    /* background-image: url("../images/text1.jpg"); */
    background-repeat: no-repeat;
    background-size: cover;
}

.review {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
}

.review h1 {
    color: #555555;
}

.review-image {
    background-image: url("../images/t1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 1.3rem;
}

.review-people {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 60vh;
    margin: 2rem 0 0 0;
    border: 5px double #555555;
    /* background-image: url("../images/t1.jpg"); */
    background-repeat: no-repeat;
    background-size: cover;

}

#review-heading {
    font-size: 2.4rem;
    text-transform: uppercase;
    background-image: linear-gradient(-200deg, #cd1e2d 0%,
            #000000db 50%, #000 67%,
            #000000db 100%);

    background-size: auto, auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: about-clip 4s linear infinite;
    display: inline-block;
}

@keyframes about-clip {
    to {
        background-position: 200% center;
    }
}